.itemPreviewDiv {
  width: 350px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
}
.itemPreviewNameAndCostDiv {
  display: flex;
  flex-direction: column;
  height: 100%;
}
div.itemPreviewBaseInfo {
  background-color: #222c35;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
  width: 100%;
}
.itemPreviewImg {
  object-fit: cover;
  width: 5.5rem;
  height: 4rem;
  box-shadow: 0px 0px 4px rgb(0, 0, 0);
}
.itemPreviewName {
  color: #cccdcd;
  font-size: 1.2rem;
  font-weight: 600;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}

.itemPreviewCostDiv {
  display: flex;
  flex-direction: row;
  gap: 0.2rem;
}
.itemPreviewCostImg {
  object-fit: contain;
  width: 1.2rem;
}
.itemPreviewCostText {
  font-size: 0.8rem;
  color: #dfc555;
  font-weight: 1000;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.itemPreviewOtherInfoDiv {
  background: linear-gradient(0deg, #10171d 0%, #15222a 100%);
}
.itemPreviewLore {
  background-color: #0C1316;
  color: #3D4E5B;
  padding: 0.5rem;
  font-style: italic;
  font-weight: bolder;
  font-size: 0.8rem;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.itemPreviewLoreDiv {
  padding: 0.7rem;
}

.itemPreviewHR {
  padding-top: 0.1rem;
  border: none;
  border-bottom: solid 0.15rem #29353B;
  width: calc(100% - (0.85rem * 2));
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 48em) {
  .itemPreviewDiv {
    width: 300px;
  }
  .itemPreviewBaseInfo {
    gap: 0.8rem;
    padding: 0.8rem;
  }
  .itemPreviewImg {
    width: 4.5rem;
    height: 3.5rem;
  }
  .itemPreviewName {
    font-size: 1rem;
  }
  .itemPreviewCostImg {
    width: 1rem;
  }
  .itemPreviewCostText {
    font-size: 0.7rem;
  }
  .itemPreviewLore {
    padding: 0.4rem;
    font-size: 0.7rem;
  }
  .itemPreviewLoreDiv {
    padding: 0.6rem;
  }
}

@media (max-width: 30em) {
  .itemPreviewDiv {
    width: 45%;
  }
  .itemPreviewBaseInfo {
    gap: 0.5rem;
    padding: 0.5rem;
  }
  .itemPreviewImg {
    width: 3.5rem;
    height: 2rem;
  }
  .itemPreviewName {
    font-size: 0.6rem;
  }
  .itemPreviewCostImg {
    width: 0.8rem;
  }
  .itemPreviewCostText {
    font-size: 0.6rem;
  }
  .itemPreviewLore {
    padding: 0.3rem;
    font-size: 0.6rem;
  }
  .itemPreviewLoreDiv {
    padding: 0.4rem;
  }
}
