.itemPreviewTargetText {
  color: #819092;
  font-size: 0.8rem;
  font-weight: 600;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.itemPreviewTargets {
  color: #bfc2c4;
  padding-left: 0.3rem;
}
.itemPreviewDispellableText {
  color: #819092;
  font-size: 0.8rem;
  font-weight: 600;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.itemPreviewDispellableInfo {
  color: #bfc2c4;
  padding-left: 0.3rem;
}
.itemBaseInfo {
  padding: 1rem;
}
.itemBaseInfoAndAttrHR {
  border: solid 0.1rem #29353B;
  width: calc(100% - (0.85rem * 2));
  margin-left: auto;
  margin-right: auto;
}
.itemAttrDiv{
    padding: 1rem;
}
@media (max-width: 48em) {
  .itemPreviewTargetText {
    font-size: 0.7rem;
  }
  .itemPreviewTargets,
  .itemPreviewDispellableInfo {
    padding-left: 0.2rem;
  }
  .itemPreviewDispellableText {
    font-size: 0.7rem;
  }
  .itemBaseInfo {
    padding: 0.8rem;
  }
  .itemBaseInfoAndAttrHR {
    width: calc(100% - (0.7rem * 2));
  }
  .itemAttrDiv {
    padding: 0.8rem;
  }
}

@media (max-width: 30em) {
  .itemPreviewTargetText {
    font-size: 0.6rem;
  }
  .itemPreviewTargets,
  .itemPreviewDispellableInfo {
    padding-left: 0.1rem;
  }
  .itemPreviewDispellableText {
    font-size: 0.6rem;
  }
  .itemBaseInfo {
    padding: 0.6rem;
  }
  .itemBaseInfoAndAttrHR {
    width: calc(100% - (0.5rem * 2));
  }
  .itemAttrDiv {
    padding: 0.6rem;
  }
}
