.heroFullNameAndAttrDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: center;
  border-bottom: 0.1rem solid white;
}
.heroFullNameAndAttrDiv p {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: bolder;
}
.heroFullInfoAndVideoDiv {
  width: 32rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(205, 221, 255, 0.1);
  border-radius: 1rem;
  transition: transform 0.5s;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.heroFullInfoAndVideoDiv:hover {
  transition: transform 0.5s;
  transform: translateY(-5px);
}
.heroFullVideo {
  object-fit: contain;
  width: 32rem;
  height: 30rem;
}
.heroAttrFromNameAndVideo {
  object-fit: contain;
  width: 3.5rem;
}

.heroAttr_all {
  box-shadow: 3px 3px 0.5rem #ec1506, -3px 0px 0.5rem #00d9ec,
    0px -3px 0.5rem #26e030;
}
.heroAttr_int {
  box-shadow: 0px 0px 0.5rem #00d9ec;
}
.heroAttr_str {
  box-shadow: 0px 0px 0.5rem #ec1506;
}
.heroAttr_agi {
  box-shadow: 0px 0px 0.5rem #26e030;
}
