.defaultFooterMain {
    height: 3rem;
    background-color: rgba(10, 10, 10, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
   
    font-size: 0.9rem;
  }
  
  .defaultFooterMain a {
    font-size: 1.2rem;
    color: #ccc;
  }