.defaultHeaderMain {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  gap: 5rem;
  background-color: rgba(10, 10, 10, 0.5);
}

.headerLeft {
  display: flex;
  align-items: center;
}

.homeIcon {
  width: 3rem;
  cursor: pointer;
  transition: 0.2s;
  filter: invert();
}

.linkToHome{
  position: relative;
}
.linkToHome::after{
  content: "";
  height: 14px;
  width: 0px;
  position: absolute;
  transition: all 0.6s;
}


.linkToHome::after {
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #ffffff;

}

.linkToHome:hover::after {
  width: 100%;
  height: 100%;
  transition: width .3s ease;
}

.headerLinkToRoulette {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  text-shadow: 2px 2px 1px#000000;
  transition: 0.2s;
}
.headerLinkToRoulette::after{
  content: "";
  height: 14px;
  width: 0px;
  position: absolute;
  transition: all 0.6s;
}


.headerLinkToRoulette::after {
  bottom: 0;
  left: 0;
  border-bottom: 2px solid #ffffff;

}

.headerLinkToRoulette:hover::after {
  width: 100%;
  height: 100%;
  transition: width .3s ease;
}
@media (max-width: 768px) {
  .defaultHeaderMain {
    height: 3.5rem;
    padding: 0 0.7rem;
  }

  .homeIcon {
    width: 2.5rem;
  }
}

@media (max-width: 480px) {
  .defaultHeaderMain {
    height: 3rem;
    padding: 0 0.5rem;
  }

  .homeIcon {
    width: 2rem;
  }
}
