.defaultHeaderMain {
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  justify-content: space-between; 
  background-color: rgba(10, 10, 10, 0.5);
}

.headerLeft {
  display: flex;
  align-items: center;
}

.homeIcon {
  object-fit: contain;
  width: 3rem;
  cursor: pointer;
  transition: transform 0.2s;
  filter: invert();
}

.homeIcon:hover {
  transform: scale(1.1);
}
