* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: auto; 
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh; 
  background: url("/src/assets/background.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 105vh; 
}

.mainContent {
  min-height: 100vh;
  flex: 1;
  padding: 1rem;
}
